<div class="country-info__title" >
<img src="{{flags.svg}}" alt="Flag of {{name.official}}" />
<h2 class="country-info__name">{{name.official}}</h2>
</div>
<ul class="country-info__list">
    <li class="country-info__item">
        <span class="country-info__category">Capital: </span> {{capital}}
    </li>
    <li class="country-info__item">
        <span class="country-info__category">Population: </span>
        {{population}}
    </li>
    <li class="country-info__item">
        <span class="country-info__category">Languages: </span>
        {{languageList}}
    </li>
</ul>
